/*Custom properties*/
:root{
    --font-color: black;
    --border: 1px solid black;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
}

/*HEADER*/
header{
    width: 100%;
    height: 10vh;
}

.logo img{
    height: 5rem;
    width: 5rem;
}

/* MAIN */
main{
    width: 100%;
    height: 80vh;
    background-color: aquamarine;
}

/* GRID */
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 600px;
    height: 600px;
}

/* CELL */
.cell{
    /* width: calc(100% / 10); */
    /* height: calc(100% / 10); */
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.disappear{
    display: none;
}